/* button{
    gap: 20px;
} */

.blc {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blc_cent {
    width: 95px;   
    margin: 150px auto;
    margin-bottom: 0;
}

.cent {
    width: 200px;

    margin: 0 auto;

    display: flex;
    justify-content: center;
}

.set {
    color: #BFE2FF;
    height: 80px;
    width: 80px;
    padding: 15px;
    margin: 10px 2px;
    border-radius: 10px;
    border: 4px solid #BFE2FF;
    background: #337AB7;
    /* background: #c4600f; */
    cursor: pointer;
    outline: 0;
    box-shadow: 0 2px 5px rgba(34, 30, 30, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);

    margin-right: 10px;
}

.s {
    padding: 15px 15px -10px;
}

.bl_dbl{
    width: 100px;
    margin: 5px auto;
    align-items: center;
    font-size: 12px;

    cursor: pointer;
}